.completed {
  text-decoration: line-through;
  /* opacity: 0.6; */
}

.todo-list {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 1rem 0;
  background-color: #fff;
  border-radius: 25px;
  width: 100%;
  height: auto;
  align-items: center;
}

.todo-checked {
  margin: 15px 0 15px 15px;
}
.todo-editor {
  margin-right: 15px;
  cursor: pointer;
}

/* checkbox */

.todo-checked input[type="checkbox"] + label {
  cursor: pointer;
}

.todo-checked input[type="checkbox"] {
  display: none;
}

.todo-checked input[type="checkbox"] + label:before {
  content: "\2714";
  border: 0.1em solid #585292;
  border-radius: 0.4em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.3em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.1s;
}

input[type="checkbox"] + label:active:before {
  transform: scale(0);
}

input[type="checkbox"]:checked + label:before {
  background-color: #585292;
  border-color: #585292;
  color: #fff;
}


input[type="checkbox"]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type="checkbox"]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #a3a1b3;
  border-color: #a3a1b3;
}
